# ============================================================================
# Config file for RNA-seq
#
# ==================[ Sections for the users ]================================
#
# One of input_directory, input_pattern and input_samples must be provided
# If input_directory provided, use it otherwise if input_pattern provided,
# use it, otherwise use input_samples.
# ============================================================================
input_directory: /home/cokelaer/Work/github/sequana_rnaseq/test
input_readtag: _R[12]_
input_pattern: '*fastq.gz'
# =========================================== Sections for the users

#############################################################################
# Genome section:
#
# :Parameters:
#
# - aligner: either star, bowtie or bowtie2. fastq_screen, if checked, uses
#        either bowtie2 by default.
# - genome_directory: directory where all indexes are written.
# - rRNA_file: path to fasta file for ribosomal RNA if provided (to be found in
#   genome_directory)
# - rRNA_feature: if rRNA_fasta not provided, ribosomal RNA will be extract
#     from GFF using this feature
# - indexing: if indexing is set to True, the index for bowtie1 will be done as
#   well as the indexing of the aligner provided. If the files exists already, not
#   indexing is performed. If you want to force the index building despite the
#   presence of the index files, then, use the force_indexing parameter and set
#   it to True. Indexing is followed by force_indexing to make sure we do not
#   erase the index files, which may be large.
general:
    aligner: bowtie2
    genome_directory: /home/cokelaer/Work/github/sequana_rnaseq/test/Saccer3
    rRNA_file: ''
    rRNA_feature: rRNA
    indexing: false
    force_indexing: false



######################
# if files are required for a pipeline and are within sequana or should
# be downloaded before the pipeline provide them in this section
# Note that sequana and url fields are followed by itemised files or links
# using the front dashes
requirements: ''


##################################################################
# sequencing information. These informations will be inserted as
# read group in BAM files
#
# :Parameters:
#
# - platform: Name of the sequencing platform
# - instrument: name ot the instrument type
# - flowcell: flowcell ID
sequencing:
    platform: Illumina
    instrument: Hiseq2500
    flowcell: H35CTBCXY


#################################################################
# FastQC section
#
# :Parameters:
#
# - options: string with any valid FastQC options
#
fastqc:
    options: --nogroup


#######################################################################
# Quality trimming and adapter removal
#
# If a design_file is provided the forward and reverse complement adapters
# are automatically extracted from this file (given the sample name contained
# in the filenames). In such case, the fwd and rev fields are ignored.
#
# If there is no design_file, the fwd and rev fields are used. It can be a
# string, or a filename. If a filename, it must be prefixed with "file:" to
# specify that it is a file and not a string. If the tool is cutadapt, the empty
# fwd and rev fields means that no adapters are to be used.
#
# :Parameters:
#
# - adapter_type: can only be one of PCRFree, Nextera, Rubicon, TruSeq.
#   Only used if design_file is provided.
# - design_file: a valid CSV file with mapping of index and sample name
# - fwd: a string or file (prefixed with *file:*)
# - m: 20 means discard trimmed reads that are shorter than 20.
#         must be > 0
# - quality: 0 means no trimming, 30 means keep base with quality
#        above 30
# - mode: must be set to one of
#     - g for 5'
#     - a for 3'
#     - b for both 5'/3'
# - rev: a string or file (prefixed with *file:*)
# - tool: only cutadapt supported for now
# - threads: number of threads to use (atropos only)
# - options: See cutadapt documentation for details on
#            cutadapt.readthedocs.io. We change the default value
#            of -O to 6 (at least 6 bases are required to match before
#            trimming of an adapter)
#
# :Note: If design_file is provided, fwd and rev are ignored
#
#   ref: http://cutadapt.readthedocs.io/
# adapter_choice__ = ["", "PCRFree", "Rubicon", "Nextera", "TruSeq"]
# tool_choice__ = ["atropos", "cutadapt", "clean_ngs"]
cutadapt:
    do: true
    tool_choice: cutadapt
    adapter_choice: ''
    design_file: ''
    fwd: ''
    rev: ''
    m: 20                       # {"strict_min": 0}
    mode: b                     # {"values": ["b","g","a"]}
    options: -O 6 --trim-n
    quality: 30                 # {"range": [0,40]}
    threads: 4


#############################################################################
# fastq_screen used to align reads against genomes file contain in conf file with bowtie2
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored
# - conf: the name of the configuration file
# - pf2_report: allows to plot a specific PF2 report
#
fastq_screen:
    do: false
    conf: fastq_screen.conf
    options: --subset 200000
    aligner: bowtie2
    report: true



#############################################################################
# bowtie1_mapping_rna used to align reads against ribosomal RNA
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored
# - options: any options recognised by bowtie1 tool
# - threads: number of threads to be used
#
bowtie1_mapping_rna:
    do: true
    options: ''
    threads: 4

#############################################################################
# star_mapping used to align reads against genome file
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored
# - options: any options recognised by rna-star tool
# - threads: number of threads to be used
#
star_mapping:
    options: --outFilterMismatchNoverLmax 0.05 --seedSearchStartLmax 20
    threads: 4

#############################################################################
# bowtie1_mapping_ref used to align reads against genome file
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored
# - options: any options recognised by bowtie1 tool
# - threads: number of threads to be used
#
bowtie1_mapping_ref:
    options: --chunkmbs 400 -m 1
    threads: 4

#############################################################################
# bowtie2_mapping used to align reads against genome file
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored
# - options: any options recognised by bowtie2 tool
# - threads: number of threads to be used
#
bowtie2_mapping_ref:
    #options: "--dovetail --no-mixed --no-discordant " for paired-end data
    options: ''
    threads: 4


#############################################################################
# feature_counts used to count reads against features
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored
# - options: any options recognised by feature_counts tool
# - threads: number of threads to be used
#
# in the options, one can use the -t option to specify the feature type in GTF
# annotation. For example gene, exon (default). The -g option specify the 
# attribute type in GTF annoation. (gene_id) by default. Finally, 
# the -s option perform strand specific read counting. 0 unstranded, 1
# stranded, 
# 2 reversely stranded.
#
feature_counts:
    do: true
    options: -t gene -g ID -s 1    ## if exon/CDS is used, put -O option
    threads: 2


#############################################################################
# bamCoverage write file in bigwig format from BAM files.
# This tool takes an alignment of reads or fragments as input (BAM file) and
# generates a coverage track (bigWig or bedGraph) as output. The coverage is
# calculated as the number of reads per bin, where bins are short consecutive
# counting windows of a defined size. It is possible to extended the length of
# the reads to better reflect the actual fragment length. *bamCoverage* offers
# normalization by scaling factor, Reads Per Kilobase per Million mapped reads
# (RPKM), and 1x depth (reads per genome coverage, RPGC).
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored
# - binSize: Size of the bins, in bases, for the output of the
#            bigwig/bedgraph file. (default: 50)
# - genomeSize: Report read coverage normalized to 1x sequencing depth
#                        (also known as Reads Per Genomic Content (RPGC)).
#                        Sequencing depth is defined as: (total number of
#                        mapped reads * fragment length) / effective genome
#                        size. The scaling factor used is the inverse of the
#                        sequencing depth computed for the sample to match the
#                        1x coverage. To use this option, the effective genome
#                        size has to be indicated after the option. The
#                        effective genome size is the portion of the genome
#                        that is mappable.
# - extendReads: This parameter allows the extension of reads to
#                fragment size.
# - minFragmentLength: The minimum fragment length needed for read/pair
#                      inclusion. Note that a value other than 0 will exclude
#                      all single-end reads.
# - maxFragmentLength: The maximum fragment length needed for read/pair
#                      inclusion. A value of 0 disables filtering and is
#                      needed for including single-end and orphan reads.
# - threads: number of threads to be used
coverage:
    do: false
    binSize: 10
    genomeSize: 2150570000  ##mm10
    extendReads: 65
    minFragmentLength: 0 #Note that a value other than 0 will exclude all single-end reads.
    maxFragmentLength: 0 #A value of 0 disables filtering and is needed for including single-end and orphan reads.
    threads: 4


###########################################################################
# Creates a tdf files using igvtools
#
# :Parameters:
#
# - chromSize: path to index of reference genome obtain by samtools faidx
igvtools:
    do: false
    # can be a link to the fasta file or an existing chrom.sizes file
    # If none provided, will use the input fasta file
    chrom_sizes_file: ''


#############################################################################
# mark_duplicates (picard-tools) allows to mark PCR duplicate in BAM files
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored. Mandatory for RNA-SeQC tool.
# - remove: If true do not write duplicates to the output file instead of writing them with
#            appropriate flags set.  Default value: false. This option can be set to 'null' to clear
#            the default value. Possible values: {true, false}
# - tmpdir: write tempory file on this directory (default TMP_DIR=/tmp/, but could be "TMP_DIR=/local/scratch/")
#
mark_duplicates:
    do: false
    remove: False ## may be True
    tmpdir: /tmp/
    threads: 4



#############################################################################
# RNA-SeQC allows to compute a series of quality control metrics for RNA-seq data
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored
# - ref: Reference Genome in fasta format
# - gtf: GTF File defining transcripts (must end in '.gtf')
# - BWArRNA: Use an on the fly BWA alignment for estimating
#            rRNA content. The value should be the rRNA
#            reference fasta.
# - options: any options recognised by RNA-seQC tool
RNAseQC:
    do: false
    gtf_file: file.gtf
    BWArRNA_file: file_rRNA.fasta
    options: ''


#############################################################################
#   MultiQC aggregates results from bioinformatics analyses across many
#   samples into a single report.
#
# :Parameters:
#
# - options: any options recognised by multiqc
# - output-directory: Create report in the specified output directory
# - config_file: by default, we use sequana RNA-seq multiqc_config file. 
#       If you want your own multiqc, fill this entry
multiqc:
    options: -f -x *_init_* -x *left_kept_reads* -x *report_rnaseq* -e htseq -e slamdunk
    output_directory: multiqc
    config_file: multiqc_config.yaml
